*.suo
*.dll
*.sdf
*.opensdf
*.ipch
*.user
*.opendb
/Debug
/packages
GSharp.Base/bin
GSharp.Base/obj
GSharp.Compile/bin
GSharp.Compile/obj
GSharp.Graphic/bin
GSharp.Graphic/obj
GSharp.Runtime/bin
GSharp.Runtime/obj
GSharpSample/bin
GSharpSample/obj